package-lock.json
hillel-qa-cypress\node_modules
node_modules
cypress/videos/
cypress/screenshots/
.vscode/

cypress/e2e/1-getting-started
cypress/e2e/2-advanced-examples


//cypress.config.js
cypress/e2e/3-hillel-qa-auto-tests/lesson10_info.js
cypress.json

cypress/reports/

